@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

.nav {
	height: auto;
}
.content-wrapper{
	height: 100%;
} 
.side-title {
	font-family: "Baloo Thambi";
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
}

.content-title {
	font-family: "Baloo Thambi";
	font-weight: bold;
	font-size: 34px;
}

.page-item {
	font-family: "Open Sans";
}


.col {
	margin-bottom: 50px;
}

.sub-title {
	font-family: "Baloo Thambi";
	font-size: 20px;
}

.table-title {
	font-family: "Baloo Thambi";
	font-size: 16px;
	margin-left: 0%;
}

.table-text {
	font-family: "Hind Vadodara";
	font-size: 16px;
	color: grey;
}

#btn-aceptar {
	font-family: "Arial";
	font-size: 14px;
	text-transform: capitalize;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0.30rem;
}
#btn-cancelar {
	font-family: "Arial";
	font-size: 14px;
	text-transform: capitalize;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0.30rem;
}

.new-section {
	margin-bottom: 30px;
}

.side-subtitle {
	font-family: "Baloo Thambi";
	font-size: 16px;
	color: #616161;
}

.side-link {
	font-family: "Arial";
	color: grey;
	font-size: 13px;
}

.side-link .icon {
	font-size: 12px;
}

.treeview-menu li {
	margin-left: 0%;
}

.treeview-menu li a:hover {
	color: #0097a7;
}

.navbar {
	box-shadow: 150px;
}

.icon-xl{
	font-size: 80px;
}
